"ELIXIR Oslo services" (the "Services") include all IT services maintained by the Oslo node of ELIXIR Norway that contain a
reference to the [General Data Protection Regulation (GDPR) Compliance Documentation for ELIXIR Oslo services](index.html)
or any of its subpages, clearly marked as "Terms of service", "Privacy policy", "GDPR compliance", "Service agreement",
or similar. These services are, unless otherwise noted, deployed using dedicated hardware resources maintained by the
<a href="https://www.usit.uio.no/english/">University Center for Information Technology</a> at the University
of Oslo or using Infrastructure-as-a-Service (IaaS) resources at the
<a href="https://www.nrec.no/"> Norwegian Research and Education Cloud</a>.